@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, sans-serif;
 }

img {
	width: 100%;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
}

button {
    background: none;
    border: none;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
}

a:link, a:visited {
    color: var(--accent-color);
  }

header {
    background-color: #52489c;
    margin: 0px;
}

h1 {
    text-align: center;
    text-size-adjust: auto;
    color: #ffffff;
}

h2 {
    text-align: center;
}

section.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    border: 1px solid #ebebeb;
    place-items: center;
    margin: 0 auto;
    max-width: 1000px;
}

@media screen and (min-width: 700px) {
    section.gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1000px) {
    section.gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    .viewer img {
        max-width: 70%;
        max-height: 80%;
    }
  }

  .viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: grid;
    place-items: center;
    z-index: 10;
}

.viewer img {
    max-width: 90%;
    max-height: 90%;
}

.close-viewer {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.hide {
    display: none;
}

nav {
    background-color: var(--primary-color);
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
    color: white;
}