/* SOmething isn't working right that I would love feedback on. I can't get the columns to adjust with the browser size */

@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }

img {
	width: 100%;
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

button {
    background: none;
    border: none;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
}

a:link, a:visited {
    color: var(--accent-color);
  }

header {
    background-color: #52489c;
    margin: 0px;
}

h1 {
    text-align: center;
    text-size-adjust: auto;
    color: #ffffff;
}

h2 {
    text-align: center;
}

section.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px;
    border-color: #ebebeb;
}

@media screen and (min-width: 700px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 1000px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
  }