/* General Styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    color: #473144;
}

h1, h2 {
    font-family: Lora, Impact, serif;
    color: #AF1B3F;
}

a {
    color: #AF1B3F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    background-color: #EFC69B;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 20px;
    justify-items: end;
    border-top: 1px solid #473144;
    border-bottom: 1px solid #473144;
    max-width: 350px;
    margin: 0 auto;
    padding: 10px 0;
}

nav li {
    margin: 0;
}

nav a {
    font-size: 1.2em;
    line-height: 1.5;
}

/* Main Content Styles */
main {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

article {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

article header {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.date {
    font-style: italic;
    color: #777;
    font-size: 1.2em;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
  border-right: 2px solid #ccc;
  padding: 0 20px;
}

.details span {
    font-size: 1.1em; /* Slightly larger font size for details */
}

.rating {
  display: flex;
  gap: 5px;
}

.book-cover {
    text-align: center;
    margin: 0 auto;
}

.book-cover img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.filters {
    border: 1px solid #ccc;
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: #EFC69B;
    text-align: center;
    padding: 10px;
}

.skiptocontent {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 100;
    transition: top 0.3s ease-in-out;
  }
  
  .skiptocontent:focus {
    top: 0;
  }
  
  .skiptocontent a {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    outline: none;
  }
  
  .skiptocontent a:focus {
    outline: 2px solid #007bff;
  }